/* reset  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.st-container{
    width: 1200px;
    margin: 0 auto;
}

.box{
    border: 1px solid black;
    width: calc(100% / 10);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}